.center {
    text-align: center;
}

html, body {
    height: 100%;
}

html {
    height:100%;
}

.rate {
    font-size: 10pt;
    color: #78747b;
}

.fsbg {
    background-color: #f2fcfe;
    height: 100%;
}

.white-header {
    color: #ffffff;
}

.jumboheader {
    font-size: 8pt;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 64px;
    background-color: #fff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 16px 16px;
}

.bottom-align-text {
    position: relative;
    bottom: 0;
}