@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    background: #e6f1ec;
    font-family: 'Roboto', sans-serif
}

.container {
    background: #fff;
    width: 700px;
    margin: 50px auto;
    box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.47)
}

.container__info {
    padding: 40px 40px 20px
}

.container__info-title {
    font-size: 32px;
    line-height: 34px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px
}

.container__info-status {
    font-family: 'Roboto', sans-serif;
    line-height: 34px;
    border-radius: 4px;
    padding: 0 28px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: lowercase;
    vertical-align: middle;
    display: inline-block
}

.container__info-status_wait {
    background: #fdcdc0;
    color: #b44649
}

.container__info-status_paid {
    background: #aaf1d0;
    color: #297351;
    position: relative
}

/*.container__info-status_paid:before {*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 20px;*/
    /*transform: translateY(-50%);*/
    /*width: 14px;*/
    /*height: 10px;*/
    /*background: url("/img/tic.png") no-repeat;*/
    /*background-size: cover*/
/*}*/

.container__price {
    font-size: 18px;
    margin-bottom: 12px
}

.container__price-label {
    font-weight: 300;
    margin-right: 5px
}

.container__price-number {
    font-weight: 700
}

.container__paid {
    font-size: 16px;
    font-weight: 300;
    color: #666
}

.container__course {
    margin-top: 35px
}

.container__course-logo {
    height: 25px;
    width: auto;
    margin-bottom: 10px
}

.container__course-info {
    font-size: 16px;
    font-weight: 300;
    color: #666
}

.container__bottom {
    padding: 30px 40px 40px;
    background: #f1f1f1
}

.container__key {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px
}

.container__flex {
    display: flex;
    justify-content: space-between
}

.container__btn {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    background: #45ba84;
    text-decoration: none;
    border: 0;
    outline: none;
    cursor: pointer
}