@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #e6f1ec;
    font-family: 'Roboto', sans-serif
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 2;
}

canvas{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.container {
    background: #fff;
    width: 700px;
    margin: 70px auto;
    margin-bottom: 120px;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.47);
    box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.47)
}

.container {
    background: #fff;
    width: 700px;
    margin: 50px auto;
    box-shadow: 0 0 10px 2px rgba(66, 66, 66, 0.47)
}

.container__bottom {
    padding: 30px 40px 40px;
    background: #f1f1f1
}

.container__btn {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    background: #45ba84;
    border: 0;
    outline: none;
    cursor: pointer
}

.container__btn_full {
    width: 100%;
    font-size: 18px;
    line-height: 44px
}

.container__course {
    margin-top: 35px
}

.container__course-info {
    font-size: 16px;
    font-weight: 300;
    color: #666
}

.container__course-logo {
    height: 25px;
    width: auto;
    margin-bottom: 10px
}

.container__flex {
    display: flex;
    justify-content: space-between
}

.container__flex-left {
    display: flex;
}

.container__flex-left-btn {
    margin-right: 16px;
}

.container__form-block {
    width: 300px;
    margin: 0 auto 10px
}

.container__form-label {
    font-weight: 300;
    font-size: 14px;
    color: #666666
}

.container__info {
    padding: 40px 40px 20px
}

.container__info-status {
    font-family: 'Roboto', sans-serif;
    line-height: 34px;
    border-radius: 4px;
    padding: 0 28px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: lowercase;
    vertical-align: middle;
    display: inline-block
}

.container__info-title {
    font-size: 32px;
    line-height: 34px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px
}

.container__info-title_center {
    text-align: center;
    border: 0
}

.container__key {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px
}

.container__paid {
    font-size: 16px;
    font-weight: 300;
    color: #666
}

.container__price {
    font-size: 18px;
    margin-bottom: 12px
}

.container__price-label {
    font-weight: 300;
    margin-right: 5px
}

.container__price-number {
    font-weight: 700
}

.container__select {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    line-height: 18px;
    display: block;
    background: transparent;
    border: 0;
    padding: 9px 0;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer
}

.container__select-block {
    position: relative
}

.container__select-block:before {
    content: "";
    position: absolute;
    background: #fff;
    display: block;
    width: 20px;
    height: 40px;
    right: 0;
    top: 0
}

.container__select-block:after {
    content: "";
    position: absolute;
    background: url("/assets/images/arrow-down.png") center no-repeat;
    display: block;
    width: 20px;
    height: 40px;
    right: 0;
    top: 0
}

.container__transfer {
    background: #e4faf0;
    width: 620px;
    padding: 20px 0 15px;
    border-radius: 3px;
    margin: 10px auto;
    text-align: center
}

.container__transfer-block {
    margin-bottom: 25px
}

.container__transfer-btn {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 40px;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    background: #45ba84;
    position: relative;
    outline: none;
    cursor: pointer
}

.container__transfer-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 52px;
    height: 40px;
    background: url("/assets/images/arrows.png") center no-repeat
}

.container__transfer-input {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 130px;
    height: 30px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    outline: none
}

.container__transfer-input:focus {
    border-bottom: 2px solid #45ba84
}

.container__transfer-label {
    font-size: 24px;
    color: #666;
    margin-left: 5px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase
}

.container__transfer-text {
    font-size: 12px;
    color: #666;
    font-weight: 300;
}

.container_big {
    width: 1000px;
    z-index: 1000;
}

.text-center {
    text-align: center
}

.no-wrap {
    display: inline-flex;
}

.header {
    background-color: #ffffff;
    padding: 10px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #ffffff;
    color: #50696B;
    min-height: 50px;
    margin-top: -70px;
    z-index: 3;
}

.header__logo {

}

.header__text {
    display: table-cell;
    color: #50696B;
    font-size: x-large;
    -ms-flex-item-align: center;
    align-self: center;
    white-space: nowrap;
}

.footer__left {
    text-align: left;
    -ms-flex-item-align: center;
    align-self: center;
    white-space: nowrap;
}

.footer__container_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 16px;
}

.footer__subcontainer_links {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__link {
    white-space: nowrap;
    color: #50696B;
    text-decoration: none;
    padding-left: 16px;
    margin-left: 16px;
}

.footer__images {
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
}

.footer__image {
    width: auto;
    padding-left: 16px;
    -ms-flex-item-align: center;
    align-self: center;
}

.divider{
    left:50%;
    right:50%;
    top:10%;
    bottom:10%;
    margin-left: 16px;
    margin-right: 16px;
    border-left:1px solid #c3c3c3;
}

.container__info-status_wait {
    background: #fdcdc0;
    color: #b44649
}

.container__info-status_paid {
    background: #aaf1d0;
    color: #297351;
    position: relative
}